.task__add {
  display: flex;
  align-items: center;
  width: 650px;
  height: 55px;
  justify-content: space-between;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;

  &--input {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: red;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 2px;
  }
  &--button {
    width: 20%;
    padding: 10px;
    background-color: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
